:root {
    --color-mystery: #97a3af;
    --color-trait: #a6782a;
    --color-common: #64605b;
    --color-rare: #915e5d;
    --color-legendary: #3a7581;
    --color-advanced: #3c7f78;
    --color-mantra: #8f7490;
    --color-bell: #3e4d7e;
    --color-legendary-bell: #e2d5c5;
    --color-drowned-bell: #c7c6fe;
    --color-corrupted-bell: #753050;
    --color-oath: #172b3d;
}

@font-face {
    font-family: "Fondamento";
    src: url("/grey/cardcreator/assets/fonts/Fondamento-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "sourcesans";
    src: url("/grey/cardcreator/assets/fonts/sourcesans.ttf") format("opentype");
}

@font-face {
    font-family: "Guru";
    src: url("/grey/cardcreator/assets/fonts/Guru Regular.otf") format("opentype");
}

@font-face {
    font-family: deepfont;
    src: url(/fonts/deepfont.otf);
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: radial-gradient(#18221a, #06110e);
    background-attachment: fixed;
    color: white;
    font-family: Arial, sans-serif;
}

h2 {
    color: #fff;
}

label {
    color: #000;
    display: block;
    margin: 10px 0;
}

input, textarea, button, select {
    font-family: Arial;
    color: #fff;
    background-color: #616e65;
    border: 1px solid transparent;
    border-image: url(/grey/icons/borderthin.png) 45%;
    border-image-width: 10px;
    border-image-outset: 2px;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 14px;
}

input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: white;
}

option {
    color: #fff;
}

button {
    background: #3f504d;
    color: white;
    cursor: pointer;
}

.customization-panel {
    max-height: 70vh; 
    overflow-y: scroll; 
    overflow-x: hidden;
    background: #e5e0ca;
    border: 1px solid transparent;
    border-image: url("/grey/icons/border.png") 20 stretch;
    border-image-width: 21px;
    width: 400px;
    height: 85%;
    padding: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.customization-panel::-webkit-scrollbar {
    display: none;
}

.custom-title {
    background-image: url("/grey/icons/background.png");
    background-size: 48px 48px;
    
    text-align: center;
    font-family: sourcesans;
    color: #e9eed1;
    
    border-top: 1px solid transparent;   
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    border-bottom: 1px solid transparent;
    border-image: url("/grey/icons/bar.png") 20 stretch;
    border-image-width: 21px;
    
    padding: 10px 0;
    width: 109%;
    
    position: relative;
    left: 50%;
    bottom: 18px;
    transform: translate(-50%);
}

.card-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.card {
    position: relative;
    width: 300px;
    height: 425px;
    background-size: contain;
    background-position: center;
    text-align: center;
    font-family: "Fondamento", serif;
    z-index: 2;
}

.card-color {
    transform: translate(0%, 4%);
    background-color: var(--color-common);
    position: absolute;
    width: 275px;
    height: 400px;
    background-size: cover;
    z-index: 1;
}

.card-frozen {
    position: absolute;
    width: 325px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 3;
    background-image: url("/grey/cardcreator/assets/img/card/frozen.png");
    transform: translateY(-15px);
}

.card-outline {
    position: absolute;
    width: 310px;
    height: 440px;
    background-size: cover;
    z-index: 3;
    background-image: url("/grey/cardcreator/assets/img/card/outline.png");
    transform: translate(0px, -10px);
}

.card-placeholder {
    position: absolute;
    width: 280px;
    height: 400px;
    background-size: cover;
    z-index: 2;
    background-image: url("/grey/cardcreator/assets/img/card/placeholder.png");
    transform: translateY(10px);
}

.title {
    position: absolute;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #3a3a3a;
    width: 80%;
}

.image {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 62%);
    width: 135px;
    height: 135px;
}

.image img {
    width: 105%;
    height: 105%;
}

.class {
    position: absolute;
    top: 245px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: #555;
}

.description-container {
    position: absolute;
    bottom: 7%;
    left: 10%;
    width: 80%;
    height: 32.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.description {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: #222;
    width: 90%;
    overflow-wrap: break-word;
    line-height: 1.5;
}

.bonuses {
    width: 15%;
    position: absolute;
    margin-top: 430px;
    text-align: center;
    font-size: 24px;
    font-family: "Guru", serif;
    color: #f5f5dc;
    -webkit-text-stroke: 0.15px #5D553B;
    text-shadow:
    #5D553B 1px 1px 3px,
    #5D553B -1px 1px 3px,
    #5D553B 1px -1px 3px,
    #5D553B -1px -1px 3px;
}

.onestar {
    position: absolute;
    bottom: 15%;
    left: 32%;
}

.twostar {
    position: absolute;
    bottom: 15%;
    left: 22%;
}

.threestar {
    position: absolute;
    bottom: 10%;
    left: 14%;
}

.button-container {
    position: relative;
}

.left-button,
.right-button {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 15%;
    background: #3f504d;
    border: 1px solid transparent;
    border-image: url(/grey/icons/borderthin.png) 45%;
    border-image-width: 10px;
    border-image-outset: 2px;
    z-index: 0;
}

.left-button {
    left: 15%;
    transform: translateX(-50%);
}

.right-button {
    left: 85%;
    transform: translateX(-50%);
}

#center-image {
    width: 100px;
    background: white;
    padding: 5px;
}

/* this is here because for some reason the border with the outset would just disappear, causing this brilliant solution. thank you zal */
/* also for some reason there was a class and id on this, both of which did the same thing? wtf zal. -grey */
#center-image-border {
    width: fit-content;
    border: 1px solid transparent;
    border-image: url(/grey/icons/borderthin.png) 45%;
    border-image-width: 10px;
    border-image-outset: 3px;
}

.icon-preview {
    width: 22.5%;
    background: white;
}

.card-icon {
    position: relative;
    width: 105%;
    height: 105%;
    right: 2.5%;
    bottom: 2.5%;
}

.bg {
    position: relative;
    bottom: 107.5%;
    left: -2%;
}

.checkbox-label {
    display: flex;
    align-items: center;
}

.checkbox-label input {
    position: relative;
    right: 50%;
    transform: translateX(50%);
}

#madebyzal {
    text-align: center;
    margin-top: 15px;
    font-family: Arial;
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 20px;
}

#panelcontainer {
    width: fit-content;
}

#headbacklink {
    color:#e0e0e0;
    font-family: deepfont;
    font-size: 20px;
    transition: color 0.2s;
    text-decoration: none;
}

#headbacklink:hover {
    color: white;
  }

#headback {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
}

#bgchangebuttoncontainer {
    display: flex;
}

.bgchangebutton {
    margin: 10px;
}

p {
    text-shadow: black 0px 0px 7px;
}

.background-panel {
    max-height: 10vh; 
    overflow-y: scroll; 
    overflow-x: hidden;
    background: #e5e0ca;
    border: 1px solid transparent;
    border-image: url("/grey/icons/border.png") 20 stretch;
    border-image-width: 21px;
    width: 400px;
    height: 85%;
    padding: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}