@font-face {
    font-family: deepfont;
    src: url(fonts/deepfont.otf);
}

@font-face {
    font-family: sourcesans;
    src: url(fonts/sourcesans.ttf);
}

@font-face {
    font-family: locationtext;
    src: url(fonts/locationtext.ttf);
}

body {
    scrollbar-width: thin;
}

p {
    color:#afb0af;
    font-family: deepfont;
    font-size: 16px;
}

h1 {
    color:#afb0af;
    font-family: deepfont;
    font-size: 22px;
}

h2 {
    font-family: locationtext;
    color:#e4e4e4;
    
}

.deepbutton {
    background-color: #40504c;
    border: 1px solid transparent;
    width: 80px;
    height: 25px;
    border-image: url(icons/borderthin.png) 45%;
    border-image-width: 10px;
    border-image-outset: 2px;
    color:rgb(224, 224, 224);
    font-family: sourcesans;
}

.deepbutton:hover {
    background-color: #2c3835;
}

.deepbutton:active {
    background-color: #798582;
}

.innerdiv {
    border: 1px solid transparent;
    border-image: url(/icons/border.png) 20 stretch;
    border-image-width: 21px;
    background-color: #e5e0ca;
}

li {
    color:#afb0af;
    font-family: deepfont;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: rgb(233, 233, 233);
}

a:hover {
    color: rgb(255, 255, 255);
}