
@font-face {
    font-family: deepfont;
    src: url(fonts/deepfont.otf);
}

@font-face {
    font-family: sourcesans;
    src: url(fonts/sourcesans.ttf);
}

@font-face {
    font-family: locationtext;
    src: url(fonts/locationtext.ttf);
}

@font-face {
    font-family: creditfont;
    src: url(fonts/creditfont.ttf);
}

@font-face {
    font-family: sourcesanslight;
    src: url(fonts/sourcesanslight.otf);
}

@font-face {
    font-family: selectfont;
    src: url(fonts/Fondamento-Regular.ttf)
}


h1 {
    color:#afb0af;
    font-family: deepfont;
    font-size: 26px;
}

h2 {
    font-family: locationtext;
    color:#bdbdbd;
}

h3 {
    font-family: sourcesans;
    color: #bdbdbd;
    font-size: 16px;
}

.deepbutton {
    background-color: #40504c;
    border: 1px solid transparent;
    width: 80px;
    height: 25px;
    border-image: url(icons/borderthin.png) 45%;
    border-image-width: 10px;
    border-image-outset: 2px;
    color:rgb(224, 224, 224);
    font-family: sourcesans;
}

.deepbutton:hover {
    background-color: #2c3835;
}

.deepbutton:active {
    background-color: #798582;
}

body {
    background-image: radial-gradient(#18221a, #06110e);
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: grey;
}

b {
    color: rgb(22, 22, 22);
}

/*

::-webkit-scrollbar {
    background-image: HELP;
}

::-webkit-scrollbar-track {
    background-image: url(images/pattern.png);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: url(icons/bigscrollbar.png);
}

*/