.background {
    background-image: url(/bin/W_rank.png);
    background-size: cover;
}

main {
    width: 900px;
    height: 700px;
}

h1 {
    position: absolute;
    color: #fff;
    font-weight: 100;
}

.legacy {
    background: #586865;
    height: 30px;
    margin: auto;
    top: 20px;
    width: 90%;
    position: relative;
}

.triumph {
    left: 35px;
    top: 42.5px;
}

.echo {
    left: 30px;
    top: 445px;
}

.triumphs {
    height: 50%;
    top: 85px;
}

.echoes {
    height: 25%;
    top: 140px;
}

.triumphs, 
.echoes {
    text-align: center;
    position: relative;
    margin: auto;
    width: 96%;
    background-color: var(--background-color);;
}