.background {
    background-image: url(/bin/W_rank.png);
    background-size: cover;
}

main {
    width: 900px;
    height: 700px;
}

h1 {
    position: absolute;
    color: #fff;
    font-weight: 100;
}

h2 {
    color: white;
    font-size: 1rem;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 5px 0;
}

.legacy {
    border: 1px solid transparent;
    border-image: url(/assets/img/border/borderthin.png);
    border-image-slice: 48%;
    border-image-outset: 2px;
    border-image-width: 16px;
    background: #586865;
    height: 30px;
    margin: auto;
    top: 20px;
    width: 90%;
    position: relative;
}

.triumph {
    left: 35px;
    top: 42.5px;
}

.echo {
    left: 30px;
    top: 445px;
}

.triumphs {
    height: 50%;
    top: 85px;
}

.echoes {
    height: 25%;
    top: 140px;
}

.triumphs, 
.echoes {
    text-align: center;
    position: relative;
    margin: auto;
    width: 96%;
    background-color: var(--background-color);;
}