.background {
    background-image: url(/bin/W_rank.png);
    background-size: cover;
}

main {
    width: 900px;
    height: 700px;
}

h1 {
    position: absolute;
    color: #fff;
    font-weight: 100;
}

h2 {
    color: white;
    font-size: 1rem;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 5px 0;
}

.legacy {
    border: 1px solid transparent;
    border-image: url(/assets/img/border/borderthin.png);
    border-image-slice: 48%;
    border-image-outset: 2px;
    border-image-width: 16px;
    background: #586865;
    height: 30px;
    margin: auto;
    top: 20px;
    width: 90%;
    position: relative;
}

.triumph {
    left: 35px;
    top: 42.5px;
}

.triumph-divider {
    top: 85px;
}

.echo {
    left: 30px;
    top: 450px;
}

.echo-divider {
    top: 492.5px;
}

.triumph-divider,
.echo-divider {
    left: 175px;
    width: 700px;
    height: 1.5px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); 
    position: absolute;
}

.triumphs {
    height: 50%;
    top: 85px;
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 5px;
}

.echoes {
    height: 25%;
    top: 140px;
}

.triumphs, 
.echoes {
    border: 1px solid transparent;
    border-image: url(/assets/img/border/borderthin.png) 11 stretch;
    border-image-width: 15px;
    border-image-outset: 2px;
    text-align: center;
    position: relative;
    margin: auto;
    width: 96%;
    background-color: var(--background-color);;
}

.task {
    width: 100%;
    background: red;
    height: 100px;
    text-align: center;
}