.content {
  background-color: grey;
  opacity: 0.75;
  height: 100%;
}

.content::-webkit-scrollbar { 
  width: 6px;
}

.content::-webkit-scrollbar-track { 
  background-color: lightgray;
}

.content::-webkit-scrollbar-thumb {
  background-image: url("/assets/img/scrollbar/vertical/l_middle.png");
  background-size: cover;
}