main {
    height: 600px;
    width: 800px;
}

.hidden {
    display: none;
}

.background {
    background-image: url(https://cdn.discordapp.com/attachments/1457493227195207700/1464953914687226051/image.png?ex=69775826&is=697606a6&hm=1098ff5…);
    background-size: 100%;
}

.header {
    display: flex;
    height: 35px;
    font-size: 14px;
    font-family: SourceSans;
    font-weight: bold;
    position: relative;
    text-align: center;
    border: 1px solid transparent;
    border-image: var(--border-bar) 3.5 stretch;
    border-image-width: 8px;
    color: var(--header-text-color);
    justify-content: space-evenly;
}

.button {
    width: 49%;
    top: 5px;
    position: relative;
    height: 20px;
    text-shadow: 1px -1px 0 black, 1px 1px 0 black, -1px -1px 0 black, -1px 1px 0 black;
    color: white;
    font-size: 10px;
    cursor: pointer;
    background-color: var(--button-bg-color);
    border: 1px solid transparent;
    border-image: var(--border-button) 7 stretch;
    border-image-width: 6;
    border-image-outset: 1px;
}

.button[data-active="true"] {
    background-color: #597977;
}