main {
    height: 600px;
    width: 800px;
}

.hidden {
    display: none;
}

.background {
    background-image: url(https://catbox.to/secure/file/vdZxG5JvRmVjK);
    background-size: 100%;
}

.topbar {
    background: #c5beb3;
    width: 98.5%;
    position: absolute;
    border-radius: 1px;
    border: solid #bdb7ac 1px;
    height: 35px;
    left: 6px;
}

.sidebar {
    background: #6d6963;
    border: solid #bdb7ac 1px;
    width: 150px;
    position: absolute;
    left: 6px;
    top: 40px;
    height: 517.5px;
}

.section {
    background: #dad3c7;
    border: solid #bdb7ac 1px;
    width: 640px;
    position: absolute;
    left: 155px;
    top: 40px;
    height: 517.5px;
}

input {
    border-image: url(/assets/img/border/text.png) 160 stretch;
    border-image-width: 7px;
    border-image-outset: 2px;
    height: 25px;
    width: 200px;
    position: absolute;
    top: 5px;
    right: 12.5px;
    font-size: 10px;
    background-color: #676c70;
    text-align: left;
}

input::placeholder {
    color: #c0b5bf;
    opacity: 0.5;
}

input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
    background-image: url(/assets/img/icons/book/cross.png);
    background-size: cover;
}

.header {
    display: flex;
    height: 35px;
    font-size: 14px;
    font-family: SourceSans;
    font-weight: bold;
    position: relative;
    text-align: center;
    border: 1px solid transparent;
    border-image: var(--border-bar) 3.5 stretch;
    border-image-width: 8px;
    color: var(--header-text-color);
    justify-content: space-evenly;
}

.button {
    width: 49%;
    top: 5px;
    position: relative;
    height: 20px;
    text-shadow: 1px -1px 0 black, 1px 1px 0 black, -1px -1px 0 black, -1px 1px 0 black;
    color: white;
    font-size: 10px;
    cursor: pointer;
    background-color: var(--button-bg-color);
    border: 1px solid transparent;
    border-image: var(--border-button) 7 stretch;
    border-image-width: 6;
    border-image-outset: 1px;
}

.button[data-active="true"] {
    background-color: #597977;
}

ul {
    padding: 0;
    margin: 5px 10px;
    text-align: left;
}

li {
    display: block;
    color: #9d9c9a;
    text-shadow: 1px -1px 1px #44413e, 1px 1px 1px #44413e, -1px -1px 1px #44413e, -1px 1px 1px #44413e;
    font-family: LibreBaskerville;
    font-size: 12px;
    margin: 5px 0px;
}