.content {
  background-color: #33393e;
  opacity: 0.75;
  height: 100%;
}

.content::-webkit-scrollbar { 
  width: 6px;
}

.content::-webkit-scrollbar-track { 
  background: none;
}

.content::-webkit-scrollbar-thumb {
  background-image: url("/assets/img/scrollbar/test.png");
  background-size: cover;
}