@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

body {
    background-image: radial-gradient(#ffffff, #979797);
    background-attachment: fixed;
}

.waves {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.marquee {
    display: flex;
    width: max-content;
    animation: scroll 8s linear infinite;
}

.marquee img {
    width: 100vw;
    height: auto;
    flex-shrink: 0;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100vw);
    }
}