body {
  color: white;
  margin: 0;
  overflow: hidden;
}

.voidzone {
  width: 100%; 
  opacity: 0.5; 
  height: 100%;
}

.title-container {
  text-align: center;
  position: absolute;
  top: 10% ;
  width: 100%;
}

.title, .title-stroke {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  width: 100%;
}

.title-stroke {
  color: black; 
  z-index: -1;
  top: 2px; 
  left: 2px;
}

.title {
  color: white;
  position: relative;
  z-index: 1;
}

.description-container {
  position: absolute;
  width: 550px;
  margin: 0 auto;
  text-align: center;
  top: 56%;
  left: 50%;
  transform: translateX(-50%)
}

.description, .description-stroke {
  font-size: 25px;
  position: absolute;
  width: 100%;
}

.description-stroke {
  color: black; 
  z-index: -1;
  top: 2px;
  left: 2px;
}

.description {
  margin: 0;
  color: white;
  position: relative;
  z-index: 1;
}

.icon {
  width: 30px;
  height: 45px;
  transform: translateY(10px);
}