.item.common {
    background-color: var(--color-loot-common);
}

.item.uncommon {
    background-color: var(--color-loot-uncommon);
}

.item.rare {
    background-color: var(--color-loot-rare);
}

.item.legendary {
    background-color: var(--color-loot-legendary);
}

.item.mythical {
    background-color: var(--color-loot-mythical);
}

.item.unique {
    background-color: var(--color-loot-unique);
}

.item.relic {
    background-color: var(--color-loot-relic);
}

.item.war {
    background-color: var(--color-loot-war);
}

.item.enchanted {
    background-color: var(--color-loot-enchanted);
}

body {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    padding: 10px;
    background-image: url(/assets/img/background/black.png);
    background-size: 48px 48px;
    width: 800px;
    height: 650px;
    background-color: #2d2d2d;
    border: 1px solid transparent;
    border-image: var(--border-window) 20 stretch;
    border-image-width: 20px;
    border-image-outset: 2px;
}

.header {
    font-family: SourceSans;
    position: relative;
    text-align: center;
    font-weight: 600;
    border: 1px solid transparent;
    border-image: var(--border-bar) 7;
    border-image-width: 8px;
    border-image-outset: 10px;
    color: var(--header-text-color);
    margin: 10px 0 10px 0;
}

.header button {
    background-color: #d4a017;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.item {
    padding: 10px;
    position: relative;
    border: 7.5px solid transparent;
    border-image: url(/assets/img/border/button.png) 7 stretch;
    border-image-width: 10px;
    border-image-outset: 2px;
}

.item img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
}

.item h3 {
    margin: 0;
    font-size: 16px;
}

.item p {
    margin: 5px 0;
    font-size: 14px;
}

.footer {
    text-align: center;
    margin-top: 10px;
}

.footer button {
    background-color: #d4a017;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}