main,
.border {
    width: 750px;
    height: 660px;
}

.border {
    z-index: 2;
    pointer-events: none;
    border: 1px solid transparent;
    border-image: var(--border-window) 20 stretch;
    border-image-width: 30px;
    border-image-outset: 2px;
    filter: sepia(50%) saturate(200%) hue-rotate(340deg) brightness(100%) contrast(100%);
}

.content {
    position: relative;
    height: 100%;  
    overflow: hidden;
}

.underline {
    position: absolute;
}

.eastern {
    margin: 55px 177.5px 0 177.5px;
    width: 52.5%;
}

.etrea {
    filter: brightness(0.75);
    margin: 55px 205px 0 205px;
    width: 45%;
}

.title {
    color: #635847;
    font-size: 1.75rem;
    position: absolute;
    width: 100%;
    text-align: center;
}

.waterlock1-etrea {
    position: absolute;
    bottom: 25px;
    left: 60px;
    font-size: 10px;
    opacity: 0.25;
    rotate: 7deg;
}

.waterlock2-etrea {
    position: absolute;
    bottom: -5px;
    right: 245px;
    font-size: 10px;
    opacity: 0.25;
    rotate: -7deg;
}
