.main::-webkit-scrollbar { 
  width: 6px;
}

.main::-webkit-scrollbar-track { 
  background-color: lightgray;
}

.main::-webkit-scrollbar-thumb {
  background-image: url("/assets/img/scrollbar/vertical/l_middle.png");
  background-size: cover;
}