body {
    display: flex;
    font-family: "Source Sans 3";
    justify-content: center;
}

main {
    font-family: sourcesans;
    height: 302px;
    width: 358px;
}

.border,
.background {
    position: absolute;
    height: 99%;
    width: 99%;
}

.border {
    z-index: 2;
    pointer-events: none;
    border: 1px solid transparent;
    border-image: var(--border-window) 20 stretch;
    border-image-width: 20px;
    border-image-outset: 4px;
}

.background {
    background-image: var(--background);
    background-size: 30px;
}

.header {
    height: 35px;
    font-size: 14px;
    font-family: SourceSans;
    font-weight: bold;
    position: relative;
    text-align: center;
    border: 1px solid transparent;
    border-image: var(--border-bar) 3.5 stretch;
    border-image-width: 8px;
    color: var(--header-text-color);
}

.content {
    text-align: center;
    position: relative;
    height: calc(100% - 35px);
    overflow-y: auto;
    overflow-x: auto;
    background-color: var(--background-color);
}

input {
    color: white;
    outline: none;
    text-align: center;
    background-color: var(--input-bg-color);
    border: 1px solid transparent;
    border-image: var(--border-input) 7 stretch;
    border-image-width: 10;
    border-image-outset: 2px;
}

.button {
    width: 75px;
    height: 25px;
    color: white;
    cursor: pointer;
    background-color: var(--button-bg-color);
    border: 1px solid transparent;
    border-image: var(--border-button) 7 stretch;
    border-image-width: 10;
    border-image-outset: 1px;
}