<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/template.css">

    <link rel="icon" href="/favicon.png">
    <title>Deepwoken - Window Template</title>
  </head>
  <body>
    <main class="center">
      <div class="border center"></div>
      <div class="background center"></div>
      <header class="header">
        Template Window
      </header>
      
      <section class="content">
        <p>Input absolutely nothing :</p>
        <input type="text" class="input">
        <button class="button" onclick="console.log('nothing')">Submit</button>
      </section>
    </main>
    <script src="/assets/js/json.js"></script>
  </body>
</html>