<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Character Creator</title>
  <link href="/assets/css/menu.css" rel="stylesheet" type="text/css" media="all">
  <link href="/assets/css/styles.css" rel="stylesheet" type="text/css" media="all">
  <link href="/assets/css/template.css" rel="stylesheet" type="text/css" media="all">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>

<body>
  <img src="aze.png" style="position: absolute; width: 100%; height: 100%;">

  <div class="right-panel">
    <div class="background"></div>
    <div class="border"></div>
    <header>
      <h1>Title</h1>
    </header>
  </div>

  <div class="left-panel">
    <div class="panel-item" data-active="true">
      <p>Aspect & Body Type</p>
    </div>

    <div class="panel-item" data-active="false">
      <p>Names</p>
    </div>

    <div class="panel-item" data-active="false">
      <p>Face</p>
    </div>

    <div class="panel-item" data-active="false">
      <p>Ornaments</p>
    </div>

    <div class="panel-item" data-active="false">
      <p>Starting Weapon</p>
    </div>

    <div class="panel-item" data-active="false">
      <p>Attunement</p>
    </div>

    <div class="panel-item" data-active="false">
      <p>Core Attributes</p>
    </div>

    <div class="panel-item" data-active="false">
      <p>Boons & Flaws</p>
    </div>

    <div class="panel-item" data-active="false">
      <p>Origin</p>
    </div>

    <div class="panel-item" data-active="false">
      <p>Hair</p>
    </div>

    <div class="panel-item" data-active="false">
      <p>Echoes</p>
    </div>
  </div>
  <script src="/assets/js/menu.js"></script>
</body>

</html>